@(jstree: models.bean.jstree.JsTree)

@import play.api.i18n._
@import views.html.helper._

@**************************************************
* Generate jsTree injection
**************************************************@

@jsid() = {@jstree.getDomid()}

// bean tranformation
function @jstree.getTransform()
{
	return {
		id: data.rslt.obj.data("id"),
		klass: data.rslt.obj.data("klass"),
		name: data.rslt.obj.data("name"),
		description: data.rslt.obj.data("description")
	};
}

/**
 * bean transformation
 * to ObjectEntityBean
 */
function @jstree.toObjectEntityBean()
{
	var data = {
		id: data.rslt.obj.data("id"),
		name: data.rslt.obj.data("name"),
		description: data.rslt.obj.data("description"),
		/**
		 * link part
		 */
		father: data.rslt.obj.data("father"),
		children: data.rslt.obj.data("children"),
		values: data.rslt.obj.data("values")
	};
	@jstree.updateData();
	return data;
}

$(document).ready(function () {
	
	   // reload tree
	   $( "#@jsid()-refresh" ).button({
		  icons: {
		      primary: "ui-icon-arrowrefresh-1-e"
		  },
		  text: true
	   })
	   .click(function( event ) {
		   $('#@jsid()').jstree("refresh");
           event.preventDefault();
       });

	   // reload tree
	   $( "#@jsid()-create" ).button({
		  icons: {
		      primary: "ui-icon-plusthick"
		  },
		  text: true
	   })
	   .click(function( event ) {
		   var data = jQuery.data($('#@jsid()')[0],"current");
		   wsCall( "@jstree.getJsonCreate()",
				   {entityBean: @jstree.toObjectEntityBean()},
					function(data){@jstree.getOnCreateNode();}
			);
           event.preventDefault();
       });

	   // reload tree
	   $( "#@jsid()-update" ).button({
		  icons: {
		      primary: "ui-icon-disk"
		  },
		  text: true
	   })
	   .click(function( event ) {
		   var data = jQuery.data($('#@jsid()')[0],"current");
		   wsCall( "@jstree.getJsonUpdate()",
				   {entityBean: @jstree.toObjectEntityBean()},
					function(data){@jstree.getOnUpdateNode();}
			);
           event.preventDefault();
       });

	   // reload tree
	   $( "#@jsid()-delete" ).button({
		  icons: {
		      primary: "ui-icon-trash"
		  },
		  text: true
	   })
	   .click(function( event ) {
		   var data = $('#@jsid()').jstree().currentSelection;
		   @jstree.getOnDeleteNode();
           event.preventDefault();
       });
	   
	   $( "#@jsid()-accordion" ).accordion();

       $('#@jsid()').jstree({

		// List of active plugins
		"plugins" : [ 
			"themes","json_data","ui","crrm","dnd"
		],

		// crrm plugin
		"crrm" : {
			"move" : {
				"check_move" : function (m) {
					/**
					 * todo
					 * check drop target
					 */
					return true;
				}
			}
		},

		// dnd plugin
		"dnd" : {
			"drag_finish" : function (data) {alert(data);},
			"drop_target" : function (data) {alert(data);},
			"drop_check" : function (data) {alert(data);}
		},

		// I usually configure the plugin that handles the data first
		// This example uses JSON as it is most common
		"json_data" : { 
			// This tree is ajax enabled - as this is most common, and maybe a bit more complex
			// All the options are almost the same as jQuery's AJAX (read the docs)
			"ajax" : {
				// the URL to fetch the data
				"url" : "@jstree.getJsonData()"
			}
		},

		// Configuring the search plugin
		"search" : {
			// As this has been a common question - async search
			// Same as above - the `ajax` config option is actually jQuery's AJAX object
			"ajax" : {
				"url" : "@jstree.getJsonData()",
				// You get the search string as a parameter
				"data" : function (str) {
					return { 
						"operation" : "search", 
						"search_str" : str 
					}; 
				}
			}
		}
	})
	// bind part
	.bind("move_node.jstree", function (event, data) {
		/*
        data.rslt contains: 
        .o - the node being moved 
        .r - the reference node in the move 
        .ot - the origin tree instance 
        .rt - the reference tree instance 
        .p - the position to move to (may be a string - "last", "first", etc) 
        .cp - the calculated position to move to (always a number) 
        .np - the new parent 
        .oc - the original node (if there was a copy) 
        .cy - boolen indicating if the move was a copy 
        .cr - same as np, but if a root node is created this is -1 
        .op - the former parent 
        .or - the node that was previously in the position of the moved node 
        */
		var node = data.rslt.o;
		var parent = data.rslt.op;
		console.debug(node);
		console.debug(parent);
	})
	// bind part
	.bind("select_node.jstree", function (event, data) {
		jQuery.data($('#@jsid()')[0],"current",data);
		// `data.rslt.obj` is the jquery extended node that was clicked
		@jstree.getOnSelectNode();
	});
});

/**
 * handle on select node
 */
function @jstree.getOnSelectNode()
{
	$( "#TreeContainerEntities-form-id" ).val(data.rslt.obj.data("id"));
	$( "#TreeContainerEntities-form-father" ).val(data.rslt.obj.data("father"));
	$( "#TreeContainerEntities-form-class" ).val(data.rslt.obj.data("klass"));
	$( "#TreeContainerEntities-form-name" ).val(data.rslt.obj.data("name"));
	$( "#TreeContainerEntities-form-description" ).val(data.rslt.obj.data("description"));
}

/**
 * handle on select node
 */
function @jstree.updateData()
{
	data.name = $( "#TreeContainerEntities-form-name" ).val();
	data.description = $( "#TreeContainerEntities-form-description" ).val();
}
