@(message: String, params: models.params.GlobalParams)

@main("Default") {

	<div id="edit-dialog" title="Story editor">
		<textarea id="edit-dialog-story" cols="80" rows="20">
		</textarea>
	</div>

	<div id="report-dialog" title="Report">
		<textarea id="report-dialog-story" cols="80" rows="20">
		</textarea>
	</div>

	<script>
		/**
		 * call a remote ws
		 * #param action, remote action
		 * #param data, data to send
		 * #param func, function success to call
		 */
		function wsCall(action,data,func) {
			var l = window.location;
			var base_url = l.protocol + "//" + l.host;
			/**
			 * ajax call
			 */
			$.ajax({
		        url: base_url + action,
		        type: "POST",
		        data: JSON.stringify(data),
		        dataType: "json",
		        success: func
		    });
		}

		/**
		 * document initialization
		 */
		$(document).ready(function () {
			$('#edit-dialog').dialog({width: 900, autoOpen: false});
			$('#edit-dialog-story').markItUp('');
			$('#report-dialog').dialog({width: 900, autoOpen: false, modal: true});
			$('#report-dialog-story').markItUp('');

			/**
			 * script editor part
			 */
			$('#script-editor-container').markItUp('');
			$('#script-validator-output').markItUp('');
			
			$( "#execute-script" ).button().click(function( event ) {executeScript();});
			$( "#execute-reload" ).button().click(function( event ) {renderReload();});
			$( "#execute-scan" ).button().click(function( event )   {scan();});
			
			/**
			 * dialog part
			 */
			$( "#dialog-output" ).dialog({ width: 750, height: 450 });
			$( "#dialog-script" ).dialog({ width: 750, height: 470 });
			$( "#tabs" ).tabs();
			
			oTable = $('#example').dataTable( {
		        "bJQueryUI": true,
		        "sAjaxSource": '/rest/story/table',
		        "fnInitComplete": function () {
		            $(oTable.fnGetNodes()).click(function (){
		            	var data = oTable.fnGetData( this );
		            	loadScript(data);
		            });
		        }
			} );
		});

		/**
		 * call a story, and execute it
		 * #param data, the story to execute
		 */
		function loadScript(params) {
			wsCall( "/rest/story/get",
					{path: params[0], name: params[1]},
					function(node){
			        	$('#script-editor-container').val(node.renderedScript);
			        }
			);
		}

		/**
		 * call a story, and execute it
		 * #param data, the story to execute
		 */
		function executeScript() {
			wsCall( "/rest/story/execute",
					{storyId: -1, rawScript: $('#script-editor-container').val()},
					function(node){
			        	$('#script-validator-output').html(node.renderedStdout);
			        }
			);
		}

		/**
		 * call a story, and execute it
		 * #param data, the story to execute
		 */
		function renderReload() {
			wsCall( "/rest/reload",
					{},
					function(node){
			        	$('#script-validator-output').html("Database reloaded ...");
			        }
			);
		}

		/**
		 * call a story, and execute it
		 * #param data, the story to execute
		 */
		function scan() {
			wsCall( "/rest/story/scan",
					{},
					function(node){
			        	$('#script-validator-output').html("Files scanned ...");
			        }
			);
		}

		/**
		 * call a story, and execute it
		 * #param data, the story to execute
		 */
		function executeScenario(data) {
			/**
			 * ajax call to execute this scenario
			 */
			$.ajax({
		        type: 'GET',
		        url: $(location).attr('href') + 'rest/story/' + data.record.Id + '/execute',
		        dataType: "json",
		        success: function(data){
		        	$('#report-dialog').dialog('open');
		        	$('#report-dialog-story').html(data.Result);
		        }
		    });
		}

		/**
		 * print a story, and edit it
		 * #param data, the story to read
		 */
		function editScenario(data) {
			/**
			 * ajax call to read and print this story
			 */
			$.ajax({
		        type: 'GET',
		        url: $(location).attr('href') + 'rest/story/' + data.record.Id + '/story',
		        dataType: "json",
		        success: function(data){
		        	$('#edit-dialog').dialog('open');
		        	$('#edit-dialog-story').html(data.Story);
		        }
		    });
		}
	</script>

    <div id="dialog-output" title="Output console">
		<textarea id="script-validator-output" cols="70" rows="8"></textarea>
    </div>

    <div id="dialog-script" title="Script editor">
		<div id="tabs">
		    <ul>
		        <li><a href="#tabs-1">Story browser</a></li>
		        <li><a href="#tabs-2">Story editor</a></li>
		    </ul>
		    <div id="tabs-1">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th width="30%">Path</th>
			<th width="30%">Name</th>
			<th width="10%">Size</th>
			<th width="30%">Last update</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>Path</th>
			<th>Name</th>
			<th>Size</th>
			<th>Last update</th>
		</tr>
	</tfoot>
</table>
		    </div>
		    <div id="tabs-2">
    	<button id="execute-script">Execute</button>
    	<button id="execute-reload">Reload</button>
    	<button id="execute-scan">Scan</button>
		<textarea id="script-editor-container" cols="70" rows="8">Feature: Launch a story sample for testing json object
  In order to test this feature
  As an explicit system actor
  I want to verify this behaviour
  Register system with 'org.jbehaviour.plugins.system.SystemSteps' plugin
  Declare ref002 as String "some string 002 to display"

  Scenario: Verify this sample
    Given print object $ref002</textarea>
		    </div>
		</div>
    </div>
}